#Host App
HOST_APP=
PORT_APP=

#Host DB PRIMARY
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=


#Host DB REPLICA
DB_HOST_REP=
DB_PORT_REP=
DB_USER_REP=
DB_PASSWORD_REP=
DB_NAME_REP=
POSTGRES_REPLICATION_USER=
POSTGRES_REPLICATION_PASSWORD=

#REPLICA CONFIG FOR APP
DB_REPLICA_HOSTS=

#JWT
JWT_SECRET_KEY=

#API Keys (Comma separated)
ALLOWED_API_KEYS=

#RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# Stripe Payment
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# PayPal Payment
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_ENVIRONMENT=sandbox